/*variáveis*/
:root {
  --preto: #000;
  --branco: #fff;
  --lilás-claro: #eb76db;
  --azul-médio: #2f4dd1;
}


body {
  color: var(--branco);
  background-color: var(--preto);
  margin: 0px;
}

header {
  border: solid 2px;
  border-color: var(--branco);
  padding: 20px;
  font-size: 32px;
  color: var(--azul-médio);
}

section {
  background-color: var(--lilás-claro);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

div {
  margin-right: 20px;
}

